<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ciwater.iotplatform.dao.UserMapper">
    <resultMap id="userMap" type="org.ciwater.iotplatform.pojo.User">
        <id property="userId" column="user_id"></id>
        <result property="userName" column="user_name"></result>
        <result property="userPassword" column="user_password"></result>
        <result property="userMail" column="user_mail"></result>
        <result property="userState" column="user_enable"></result>
        <result property="userRoleName" column="role_name"></result>
    </resultMap>

    <select id="getUserByName" resultMap="userMap"
            resultType="org.ciwater.iotplatform.pojo.User"
            parameterType="string">
        select user.user_id, user.user_name, user.user_password,
               user.user_mail, user.user_enable,
               role.role_name
        from schema_authority.user,
             schema_authority.role,
             schema_authority.user_role
        where user.user_name = #{userName}
          and user.user_id = user_role.ur_user_id
          and user_role.ur_role_id = role.role_id
    </select>

    <insert id="setUser">
        insert into schema_authority.user(user.user_name, user.user_password, user.user_mail, user.user_enable)
        values (#{userName},#{userPassword},#{userMail},#{userEnable})
    </insert>
</mapper>